.shows-container {
    position: relative;
    width: 1200px;
    height: 420px;
    box-sizing: border-box;
    padding: 20px;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.left-side {
    width: 50%;
    display: flex;
    align-items: center;
}

.show-picture {
    width: 174px;
    height: 174px;
    margin: 30px;
    box-sizing: border-box;
}

.right-side {
    width: 50%;
    display: flex;
}

.right-col {
    position: relative;
    left: 60px;
    bottom: 10px;
}

.left-col {
    position: relative;
    left: 100px;
    bottom: 10px;
}

.right-input {
    padding: 30px;
}

.vl {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    height: 207px;
}

.info-wrapper {
    width: 250px;
    align-self: flex-start;
    padding: 30px;
}

.title-text {
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.4);
}

.body-text {
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.faded {
    color: rgba(0, 0, 0, 0.4);
}

.edit-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.buttons-container {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    cursor: default;
}