.shows-container {
    margin-bottom: 30px;
    position: relative;
    width: 1200px;
    height: 420px;
    box-sizing: border-box;
    padding: 20px;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: default;
}

.left-side {
    width: 50%;
    position: relative;
}

.show-picture {
    width: 174px;
    height: 174px;
    margin: 30px;
    box-sizing: border-box;
}

.vl {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    height: 90%;
}

.info-wrapper {
    width: 250px;
    padding: 30px;
}

.edit-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.buttons-container {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Sarabun;
    font-size: 16px;
    cursor: default;
}