.table-wrapper{
    padding-left: 50px;
}

.underlined {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    width: 380px;
}

.left {
    padding-bottom: 13px;
    width: 130px;
}

.right {
    width: 800px;
}

td {
  vertical-align: text-top;
}

input {
    width: 100%;
    border: none;
    outline: none;
    color: black;
    font-family: Sarabun;
    font-size: 16px;
}

table {
    font-family: Sarabun;
    font-size: 16px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
}