*:focus {
  outline: none !important;
}

#searchBar {
  background-color: transparent;
  height: 65px;
  width: 100%;
  font-size: 1.875rem;
  font-weight: 300;
  border-color: black;
  border-width: 1px;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
}

#titleText {
  margin-right: auto;
}

.buttonGroup {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-column-gap: 0.5em;
}
