.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 45px;
    font-family: Sarabun;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    letter-spacing: 0.1em;
    align-self: flex-start;
}

.bottom-space {
    padding: 100px;
}